@charset "UTF-8";
	.storageListBox{
		align-content : flex-start;
		display: flex;
		flex-direction: column;
		width:640px;
		margin: 0 auto;
		background-color: black;
		position:relative;
		
	}
	#watchingList{
		display: inline-block;
		position:relative;
		width:100%;
		/* height: 530px; */
		overflow:hidden;
	}
	#watchingListTitle{
		height: 120px;
		transform: translateY(0px);
		text-align: right;
		line-height: 42px;
		padding-left:20px;
		padding-right:20px;
		
	}
	.watchingListTitle1{
		justify-content: flex-end;
		display: flex;
		overflow:hidden;
		line-height:36px;
		position: relative;
		width:100%;
	}
	.watchingListTitle1 > p{
		overflow: hidden;
		text-overflow: ellipsis;
		color: #333;
		font-size:28px;
		font-weight: 900;
	}
	.watchingListTitle2{
		justify-content: flex-end;
		display: flex;
		overflow:hidden;
		line-height:36px;
		position: relative;
		width:100%;
	}
	.watchingListTitle2 > p{
		width:auto;
		white-space:nowrap;
		flex:0 1 auto;
		overflow: hidden;
		text-overflow: ellipsis;
		word-break: break-word;
		color: #333;
		font-size:28px;
		font-weight:900;	
	}
	.watchingListTitle3{
		justify-content: flex-end;
		display: flex;
		overflow:hidden;
		line-height:36px;
		position: relative;
		width:100%;
	}
	.watchingListTitle3 > p{
		width: auto;
		white-space: nowrap;
		flex: 0 1 auto;
		overflow:hidden;
		text-overflow:ellipsis;
		word-break: break-word;
		color: #333;
		font-size:28px;
		font-weight:900;
	}
	#watchingListBigBox{
		align-content: flex-start;
		display: flex;
		flex-wrap:wrap;
		margin-left:-1px;
		margin-right:-1px;
		/* margin-top:-44px; */
		box-sizing: border-box;
		/* height:390px; */
		
	}
	#watchingListBox{
		transform: translateY(0px);
		border-bottom:1px solid #000;
		border-left:1px solid #000;
		border-right:1px solid #000;
		width: calc(100%/4);
		margin-bottom:1px;
		height:390px;
	}
	#watchingListTopBox{
		position: relative;
		align-items: center;
		display: flex;
		height: 56px;
		justify-content: center;
		margin-bottom:2px;
		background-color: rgb(111, 97, 89);
	}
	#watchingListTopTitle{
		align-items: center;
		display: flex;
		justify-content: center;
		line-height: 1;
		overflow: hidden;
		width:100%;
		padding-left: 8px;
		padding-right: 8px;
		
	}
	
	#watchingListTopTitle > p{
		width: auto;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		word-break: break-word;
		color:#fff;
		font-size:13px;
		font-weight: 500;
	}
	
	#watchingListBottomBox{
		position: relative;
		padding-top:209.677%;
		width:100%;
		background-color: rgba(111, 97, 89);
		
	}
	#watchingListBottomBox1 > img{
		position:absolute;
		overflow:hidden;
		bottom:0;
		display:block;
		height:100%;
		width:100%;
		
	}
	#watchingListBottomBox2 > img{
		position:absolute;
		width:100%;
		bottom:20px;
		display:block;

	}
  	#Transparency{
		position: absolute;
		width:100%;
		height:calc((100%/3)*2);
		left:0;
		bottom: 0;
		background-image: linear-gradient(180deg,transparent,rgba(0,0,0,.6)); /*투명도  */
	}
	#similarList{
		padding-top: 68px;
		position:relative;
		width:100%;
	}
	#similarListTitle{
		height: 120px;
		transform: translateY(0px);
		text-align: right;
		line-height: 42px;
		padding-left:20px;
		padding-right:20px;
	}
	
	
	.similarListTitle1{
		justify-content: flex-end;
		display: flex;
		overflow:hidden;
		line-height:36px;
		position: relative;
		width:100%;
	}
	.similarListTitle1 > p{
		overflow: hidden;
		text-overflow: ellipsis;
		color: #333;
		font-size:28px;
		font-weight: 900;
	}
	.similarListTitle2{
		justify-content: flex-end;
		display: flex;
		overflow:hidden;
		line-height:36px;
		position: relative;
		width:100%;
	}
	.similarListTitle2 > p{
		width:auto;
		white-space:nowrap;
		flex:0 1 auto;
		overflow: hidden;
		text-overflow: ellipsis;
		word-break: break-word;
		color: #333;
		font-size:28px;
		font-weight:900;	
	}
	.similarListTitle3{
		justify-content: flex-end;
		display: flex;
		overflow:hidden;
		line-height:36px;
		position: relative;
		width:100%;
	}
	.similarListTitle3 > p{
		width: auto;
		white-space: nowrap;
		flex: 0 1 auto;
		overflow:hidden;
		text-overflow:ellipsis;
		word-break: break-word;
		color: #333;
		font-size:28px;
		font-weight:900;
	}
	#similarListBigBox{
		align-content: flex-start;
		display: flex;
		flex-wrap: wrap;
	}
	#similarListBox{
		display: inline-block;
		position: relative;
		margin: 0.1%;
		width: 24.1%;
		/* height: 330px; */
		padding-top:51.6%;
		overflow: hidden;
	}
	.similarListBox1 > img {
		position: absolute;
		top: -50px;
		left: 0px;
	}
	
	.similarListBox2 > img {
		position: absolute;
		width: 100%;
		height: 100%;
		left:0;
		bottom:0;
	}
	.similarListBox3 > img {
		width:100%;
		position:absolute;
		bottom: 20px;
		left:0;
		z-index: 1;
	}
	
	.box:after {
		content: '';
		display: block;
		clear: both;
	}
	#Transparency{
		position: absolute;
		width:100%;
		height:calc((100% / 3)*2);
		left:0;
		bottom: 0;
		background-image: linear-gradient(180deg,transparent,rgba(0,0,0,.6)); /*투명도  */
	}
	
/*-------------mobile------------------*/
@media all and (max-width:768px){
	.storageListBox{
		width:100%;
	}
	
	#similarListBox{
		padding-top:53.4%;
	}
}
/*-------------mobile------------------*/
@media all and (max-width:580px){
	#similarListBox{
		width:32.4%;
		padding-top:69%;
	}
	
	
}