@charset "UTF-8";
.webtoonList{
	width: 640px;
	background-color: black;
	margin: 0 auto;
	color: white;
}
.webtoonList>div:first-child{
	background-color: #313b4c;
	padding: 10px;
	margin: 10px 0;
	color: white;
	font-size: 1.5rem;
	text-align: center;
	top: 0;
}
.list1{
	display: inline-block;
    position: relative;
    width: 19.5%;
    padding-top: 19%;
    overflow: hidden;
}
.epImage{
	position: absolute;
	width: 100%;
	top: 0;
    left: 0; 
}
.epImage>img{
	width: 100%;
} 
.epInfo{
	position: absolute;
	width: 100%;
	height: 46px;
	bottom: 0;
	font-size: 1.2rem;
}
.epInfo>span:first-child{
	font-weight: bold;
}
/*-------------mobile------------------*/
@media all and (max-width:768px){
	.webtoonList{
		width: 100%;
		text-align: center;
	}
 	.webtoonList>div:first-child{
		margin: 10px;
	} 
	.list1{
	    width: 32%;
	    overflow: hidden;
	    margin: 0 auto;
	    padding-top: 27%
	}
	.epInfo{
		width: 100%;
		/* height:46px; */
		text-align: left;
		bottom: -2px;
	}
}

/*-------------mobile------------------*/
@media all and (max-width:580px){
	.epInfo{
		bottom: -9px;
	}
}