@charset "UTF-8";
.imagebox {
	width: 100%;
	background-color: black;
	height: 550px;
	position: relative;
	right: 0;
	overflow: hidden; 
}
.imagebox .bg {
	width: 100%;
	position: absolute;
	left: 0;
	top:0;
	right:0;
	bottom:0;
	overflow:hidden;
	z-index: 1;
}
.imagebox .bg img{
	width: 100%;
	opacity: 0.7;
	z-index: 1;
}
.imagebox > .mainimg {
	position: absolute;
	top: 40px;
	left: 50%;
 	transform: translateX(-50%); 
 	/* max-height: 386px;
 	overflow: hidden; */
 	z-index: 2;
}
.imagebox > .mainimg video{
	width: 420px;
 	height: 420px;
/*  max-height: initial;
 	margin-top: 5%; */
 	z-index: 2;
}
.line{
	position: absolute;
	border-top: 1px solid white;
	bottom: -6px;
	font-size: 2.2rem;
	left: 50%;
 	transform: translateX(-50%); 
 	width: 640px;
 	z-index: 2;
}
.line>ul>li{
	display: inline-block;
	color: white;
	text-align: center;
	padding: 5px;
	z-index: 2;
}
.line>ul>li:first-child{
	position: absolute;
	top: 20px;
	font-weight: bold;
} 
.line>ul>li:nth-child(3){
	position: absolute;
	top: 55px;
} 
.line>ul>li:nth-child(3), li:nth-child(6), li:nth-child(8), li:nth-child(10){
	font-size: 1.2rem;
} 
.line>ul>li:nth-child(4), li:nth-child(5), li:nth-child(6), li:nth-child(7), li:nth-child(8), li:nth-child(9), li:nth-child(10){
	margin-top: 8px
} 
svg{
	color : white;	
}

/*-------------mobile------------------*/
@media all and (max-width:768px){
	.imagebox {
		width: 100%;
	}
	.line{
		width: 100%;
	}
}

