<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
   <typeAliases>
      <typeAlias type="webtoon.bean.WebtoonDTO" alias="webtoon"/>
      <typeAlias type="toonmember.bean.ToonMemberDTO" alias="toonmember"/>
      <typeAlias type="tooncomment.bean.ToonCommentDTO" alias="toonComment"/>
      <typeAlias type="episodelist.bean.EpisodeListDTO" alias="episodeList"/>
      <typeAlias type="webtoonInnerList.bean.WebtoonInnerListDTO" alias="webtoonInnerList"/>
   </typeAliases>
</configuration>
