<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="webtoonSQL">
	<select id="getHomeBodyList" resultType="webtoon">
		select * from webtoon
	</select>
	
	<select id="getRankBodyList" parameterType = "String" resultType="webtoon">
		
			select title, writer, artist, toonday, toonbg, toonchar, toontitle, toontype, keyword1, keyword2, keyword3, story1, story2, toonend, toonvideo, type1stTitle, nvl("좋아요",0) "좋아요" 
			from webtoon left join
	   		(select count(episodegood) "좋아요", title 
	    	from episodegoodview where episodegood='T' group by title) using(title)

		
		<if test="category!='전체'">
			where toontype = #{category }
		</if>
	    	order by "좋아요" desc
			
	</select>
</mapper>