<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="toonCommentSQL">
	<insert id="toonCommentWrite" parameterType="toonComment">
		insert into toonComment 
			values(commentseq_tooncomment.nextval,
					1,		
					'둘리',
					#{content},
					commentseq_tooncomment.nextval,
					0,
					0,
					0,
					sysdate)
	</insert>
</mapper>