@charset "UTF-8";
body {
	color: #fff;
	background-color: black;
}
.backBtn2 {
	position: absolute;
	left: 50px;
	top: 50px;
	cursor: pointer;
}
h1 {
	width: 200px;
	margin: 70px auto 40px;
}
.info {	
	width: 700px;
	margin : 0 auto;
	text-align: left;
}
.info span {
	display: block;
	margin: 10px 0;
}
.info span:nth-child(2n-1){
	color: gray;
	font-size: 1.2rem;
}
.info span:nth-child(2n){
	color: #fff;
	font-size: 1.6rem;
	margin-bottom: 25px;
}
.map {
	width: 100%;
	height: 426px;
	overflow: hidden;
	margin-bottom: 30px;
}
.map iframe {
    width: 100%;
    height: 426px;
}