@charset "UTF-8";

.myMenu {
	width: 620px;
	margin: 300px auto;
	font-size: 3rem;
	text-align: center;
}
.myMenu .backBtn {
	position: absolute;
	left: 50px;
	top: 50px;
	cursor: pointer;
}

/*--------------------------*/

.contentsdiv {
	width: 620px;
	position: absolute;
	left: 50%;
	top: 100px;
	transform: translateX(-50%);
	text-align: center;
}
.contentsdiv .membernamediv{
	color : gray;
	font-size: 3rem;
	margin-bottom: 20px;
}
.contentsdiv .cashdiv img {
	width: 50px;
}
.contentsdiv .cashdiv .cashspan {
	font-size : 3rem;
	color : #C6A66D;
	line-height : 3rem;
	margin : 0 0 140px 0;
	cursor : pointer;
}
.contentsdiv .spandiv{
	font-size: 3rem;
	margin-top: 30px;
}
.contentsdiv .spandiv div {
	margin: 20px;
}
.contentsdiv .spandiv div a {
	text-decoration: none;
	color : #fff;
}

.bottomdiv {
	position: absolute;
	left: 50%;
	top: 500px;
	transform: translateX(-50%);
}
.bottomdiv div {
	font-size: 1.2rem;
}


/* ========================================================= */

#mask {  
  position:absolute;  
  left:0;
  top:0;
  background-color:#000;  
  display:none;  
  z-index:1;
}

.contentsdiv .spandiv2 >div {
	margin: 20px;
}

.contentsdiv .spandiv2 div a {
	text-decoration: none;
	color : #fff;
}
#loginBtn{
	font-size:4.5rem;
	font-family:고딕체;
	letter-spacing: 4px;
	padding-left:10px;
	cursor: pointer;
}

.spandiv2 div{
	font-size: 2rem;
	margin: 50px;
}
.spandiv2 img{
	padding-bottom: 20px;
}
.spandiv2 div:last-child{
	padding-left:20px;
	margin-bottom:180px;
}
#loginForm{
	z-index:2;
	position:absolute;
	background-color: rgba(28,28,28,0.8);
	width: 100%;
	height: 330px;
	left:0;
	margin-top:200px;
}
#memberLoginForm {
	font-size: 1.8rem;
	text-align: left;
}
#memberLoginForm td{
	}
#memberLoginForm tr > td:first-child {
	width:150px;
	
}
#memberLoginForm tr > td:nth-child(2) {
	height:60px;

}
#memberLoginForm tr:nth-child(3) > td {
	height:20px;
}
#memberLoginForm table{
	padding-top:50px;
	margin: 0 auto;
}
#memberLoginForm table input[type=text] {
	width: 270px;
	height: 30px;
	line-height: 30px;
	background: transparent;
	border: 1px solid #5f5f5f;
	color: #fff;
	padding-left: 10px;
	border-radius: 3px;
}
#memberLoginForm table input[type=password]{
	width: 270px;
	height: 30px;
	line-height: 30px;
	background: transparent;
	border: 1px solid #5f5f5f;
	color: #fff;
	padding-left: 10px;
	border-radius: 3px;
}
#memberLoginBtn{
	width: 100px;
	height: 30px;
	background-color: transparent;
	border: 1px solid #5f5f5f;
	color: #fff;
	border-radius: 3px;
}
#memberLoginForm table #kakaoLoginBtn {
	display: inline-block;
	width: 100px;
	height: 30px;
	background-color: transparent;
	
}
#memberLoginForm table #kakaoLoginBtn img {
	height: 30px;
}

#memberWriteFormBtn{
	width:100px;
	height: 30px;
	background-color: transparent;
	border: 1px solid #5f5f5f;
	color: #fff;
	border-radius: 3px;
}
#loginBtntd{
	margin-bottom:10px;
	padding:50px;
}
/*-------------tablet 1024------------------*/
@media all and (max-width:1300px){
	
}

/*-------------tablet 768------------------*/
@media all and (max-width:1024px){
	

}

/*-------------mobile------------------*/
@media all and (max-width:768px){
	.myMenu {
		width: 100%;
	}
	.contentsdiv {
		width: 320px;
	}
	
	#memberLoginForm table input[type=text] {
		width: 130px;
	}
	#memberLoginForm table input[type=password]{
		width: 130px;
	}
	#memberLoginForm table{
		text-align:center;
	}
	#mask{
		width:100%;
	}	
	#memberLoginBtn{
		width: 70px;
	}
	#memberWriteFormBtn{
		width: 70px;
	}
	#kakaoLoginBtn{
		width: 70px;
	}

}
