@charset "UTF-8";
#webtoonView_bottom{
	background-color:#121212;
}


#webtoonView_bestComment{
	cursor: pointer;
	border: 1px solid ;
	border-color:#1a1a1a;
}

#webtoonView_bestComment span:nth-child(2) {
	display: inline-block;
	background-color : red;
	border-radius: 16px;
	padding: 8px;
	font-size: 1.2rem;
	color: white;
	font-weight : bold;
}

#webtoonView_bestComment span:nth-child(4) {
	display: inline-block;
	color: gray;
	font-size: 1.2rem;
	font-weight : bold;
}

#webtoonView_similartoon {
	background-color : black;
	color: white;
	font-size: 2rem;
	font-weight : bold;
}
