@charset "UTF-8";
body{
	text-align:center;	
}

header {
	display:flex;
	height:100px;
	width:100%;
	color: white;
	font-weight: bold;
	font-size: 2rem;
	background: linear-gradient(to bottom, rgba(128,128,128,1), rgba(255,255,255,0));
	justify-content: space-between;
}

header p:nth-child(1){
	margin:15px;
}
header p:nth-child(2){
	margin-top:15px;
	position:absolute;
	left:50%;
	transform:translateX(-50%);
}


/*----------section----------*/

#controllBar{
	background-image: conic-gradient(from 
					.36turn,#a02dff,#5f28ff 
					.13turn,#3860ff 
					.24turn,#0a96ff 
					.35turn,#1e32ff 
					.46turn,#5f28ff 
					.55turn,#a02dff 
					.72turn,#ff0f00 
					.89turn,#a02dff);
	border-radius: 26px;		
	height: 54px;
    width: 350px;
	margin:0 auto;	
	position: relative;
} 
#controllBar_content{
	border-radius: 24px;
    height: 48px;
    width: 344px;
    background-color:black;
    position: absolute; 
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#controllBar_content img{
	position: absolute;
	top: 50%;
    transform: translateY(-50%); 
}
#controllBar_content img:first-child{
	left: 22px;
}
#controllBar_content img:nth-child(2){
	left: 110px; 
}
#controllBar_content svg{
	position: absolute;
	width: 30px;
	height: 30px;
	color: white;
	top: 50%;
    transform: translateY(-50%);
    left: 203px; 
}
#controllBar_content img:nth-child(4){
	left: 290px; 
}
#up{
	cursor:pointer;
	border-top: 1px solid #f2f2f2;
	padding:20px;
	margin:30px 0px 0px 0px;
}
#upbtn{
	border:none;
	background: none;
	font-weight:bold;
	cursor:pointer;
}



footer{
	width:100%;
	position:relative;
	background-color:#121212;
	padding:0px 0px 100px 0px;
}
#good{
	font-weight:bold;
	padding:50px;	
	color:white;
	font-size: 2rem;
}
#good div{
	padding:10px;
}


#comment{
	font-size: 1.2rem;	
	width: 640px;	
	font-size: 1.5rem;
	margin: 15px 0 15px 0;
	display:inline-block;
}

#comment div:first-child{
	display: flex;
	border-top: 1px solid #1c1c1c;
	padding: 10px 0 0 0;
	align-items: center;
}
	
#comment div:last-child{
	border-bottom: 1px solid #1c1c1c;
	padding: 0 0px 20px 0px;
}

.best_p{
	display: inline-block; 
	background-color : red;
	border-radius: 16px;
	padding: 6px;
	font-size: 1.2rem;
	color: white;
	font-weight : bold;
}

.id_p{
	font-weight : bold;
	text-align:left;
	width:500px;	
	margin: 10px;
	color: white;
}

.date_p{
	color:#444444;
	width:50px;
}

.comment_content{
	text-align:left;
	margin:8px 0 10px 0;
	color: #c8c8c8;
	font-size: 1.5rem;
}

#commentMore {
	display: inline-block;
	color: gray;
	font-size: 1.5rem;
	font-weight : bold;
	padding:10px;
	display: inline-block;
	cursor: pointer;
}
 

#similartoon {
	width:640px;
	display:inline-block;
}
#similartoonTitle{
	color: white;
	font-size: 2rem;
	font-weight: bold;
	text-align:left;
	padding:50px 0px 15px 8px;
}
.similartoonbox{
	position: relative;
	display: inline-block;
	width: 24%;
	height: 300px;
}

.similartoonbox1 > img{
	position:absolute;
	width:100%;
	height: 100%;
	left:0;
}
.similartoonbox2 > img{
	position:absolute;
	width:100%;
	height: 100%;
	left:0;
}
.similartoonbox3 > img{
	position:absolute;
	width:100%;
	bottom:20px;
	left:0;
	z-index:1;
}
#Transparency{
		position: absolute;
		width:100%;
		height:calc((100% / 3)*2);
		left:0;
		bottom: 0;
		background-image: linear-gradient(180deg,transparent,rgba(0,0,0,.6)); /*투명도  */
}
/*-------------tablet------------------*/
@media all and (max-width:768px){
	header {
		width:100%;
	}
	section{
		width:100%;
	}
	footer{
	width:100%;
	}
	#webtoonimg{
	width:100%;
	}

	#comment{
		width:100%;
		padding:0px 30px 0px 30px;
	}
	#similartoon {
		width:570px;
	
	}
	#similartoonTitle{
		margin:30px 0px 0px 0px;
		padding:10px;
		font-size:1.8rem;
	}
	.similartoonbox{
		 width:24%;
		 height:260px;
	}
	
}

@media all and (max-width:580px){
	header {
		width:100%;
	}
	/* header p:last-child{
		display:none;
	} */
	section{
		width:100%;
	}
	footer{
	width:100%;
	}
	#webtoonimg{
	width:100%;
	}
	#controllBar{
		width: 236px;
	}
	#controllBar_content{
		width:98.5%;
	}
	
	#controllBar_content img:first-child{
		left: 10px;
	}
	#controllBar_content img:nth-child(2){
		left: 70px; 
	}
	#controllBar_content svg{
	    left: 130px; 
	}
	#controllBar_content img:nth-child(4){
		left: 190px; 
	}
	#comment{
		width:100%;
		padding:0px 30px 0px 30px;
	}
	#similartoon {
		width:400px;
	}
	#similartoonTitle{
		margin:30px 0px 5px 10px;
		padding:10px;
	}
	.similartoonbox{
		 width:30%;
		 height:250px;
	}
	
	#last_similartoonbox{
		display:none;
	}
}
@media all and (max-width:380px){
	header {
		width:100%;
	}
	section{
		width:100%;
	}
	footer{
		width:100%;
	}
	#webtoonimg{
		width:100%;
	}
	#controllBar{
		width: 236px;
	}
	#controllBar_content{
		width:98.5%;
	}
	#controllBar_content img:first-child{
		left: 10px;
	}
	#controllBar_content img:nth-child(2){
		left: 70px; 
	}
	#controllBar_content svg{
	    left: 130px; 
	}
	#controllBar_content img:nth-child(4){
		left: 190px; 
	}
	#comment{
		width:100%;
		padding:0px 30px 0px 30px;
	}
	#similartoon {
		width:90%;
	}
	#similartoonTitle{
		margin:30px 0px 5px 10px;
		padding:10px;
	}
	.similartoonbox{
		 width:30%;
		 height:200px;
	}
	#last_similartoonbox{
		display:none;
	}
}

@media all and (max-width:280px){
		header {
		width:100%;
	}
	section{
		width:100%;
	}
	footer{
		width:100%;
	}
	#webtoonimg{
		width:100%;
	}
	#controllBar{
		width: 236px;
	}
	#controllBar_content{
		width:98.5%;
	}
	#controllBar_content img:first-child{
		left: 10px;
	}
	#controllBar_content img:nth-child(2){
		left: 70px; 
	}
	#controllBar_content svg{
	    left: 130px; 
	}
	#controllBar_content img:nth-child(4){
		left: 190px; 
	}
	#comment{
		width:100%;
		padding:0px 30px 0px 30px;
	}
	#similartoon {
		width:90%;
	}
	#similartoonTitle{
		margin:30px 0px 5px 10px;
		padding:10px;
	}
	.similartoonbox{
		 width:30%;
		 height:150px;
	}
	#last_similartoonbox{
		display:none;
	}
	
}
