<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="commentGoodBadSQL">
<!-- 	<select id="getCommentGoodBadList"  parameterType="int" resultType="toonComment">
		select * from tooncomment where episodecode = #{episodecode};
	</select> -->
	<insert id="commentGood" parameterType="int">
		insert into commentgoodbad(commentseq, commentgood) values(#{commentSeq},'T')
	</insert>
</mapper>