<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="webtoonInnerListSQL">
	<select id="getEpisode" parameterType="String" resultType="webtoonInnerList">
		select * from
		(select * from    
		(select *
		from webtoon where title=#{title}) 
		cross join 
		(select count(*) as totalgood from episodegoodview where episodegood='T' and title=#{title}))
		cross join
		(select count(*) as totalview from episodegoodview where episodeview='T' and title=#{title})		
	</select>
	
	<select id="episodeList" parameterType="String" resultType="episodeListdto">
		select episodecode, episode, title, thumbnail, to_char(updatetime, 'YYYY-MM-DD') as updateTime
		, free from episodelist where title=#{title} order by episodeCode desc
	</select>
	
	<select id="getCash" parameterType="String" resultType="Integer">
		select cash from toonMember where id=#{id}
	</select>
	
	<insert id="useCash" parameterType="cashList">
	begin
		insert into cashlist(id, cash, episodecode) values(#{id}, -200, #{episodeCode});
		update toonmember set cash=(select cash+cash1 from    
		(select *
		from toonmember where id=#{id}) 
		cross join 
		(select cash as cash1 from cashlist where id=#{id} and episodecode=#{episodeCode})) where id=#{id};
	end;
	</insert>

	<select id="checkEpisodeBuy" parameterType="cashList" resultType="cashList">
		select * from cashlist where id=#{id} and episodecode=#{episodeCode}
	</select>
	
	<insert id="webtoonKakaoPay" parameterType="cashList">
	begin
		insert into cashlist(id, cash) values(#{id}, #{cash});
		update toonmember set cash=(select cash+cash1 from    
		(select *
		from toonmember where id=#{id}) 
		cross join 
		(select rownum, t.* from(
		select cash as cash1 from cashlist where id=#{id} order by logtime desc) t where rownum=1)) where id=#{id};
	end;
	</insert>
	
	<select id="getCashInfo" parameterType="String" resultType="java.util.Map">
		select cash, logtime, title, episode from cashlist 
		left join episodelist using(episodecode)
		where id = #{id} order by logtime desc
	</select>
</mapper> 